.aboutContainer {
  margin-top: 10vh !important;
  margin-left: 10vw !important;
  float: left;
  display: flex;
  padding-top: 50px;
}

.memberImg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.aboutInfoContainer {
  z-index: 2;
  border-radius: 25px;
  max-width: 100%; // width: 100vw;
  overflow: hidden;
  background-color: white;

}

.memberName {
  margin-bottom: -10px;
  font-family: avenir;
  margin-top: 2.5%;
  font-size: 2em;
}

.memberDescription {
  font-family: avenir;
  font-size: 18px;
  margin-top: 5px;
}

.projectsList {
  margin-left: 40px;
}

hr {
  margin-bottom: 0.1rem;
}

a:hover {
  color: #82ad90 !important;
}
