<div class="aboutContainer row">
  <img class="memberImg col-md-3" src="../../../assets/images/frank.jpg">
  <div class="col-md-4 aboutInfoContainer">
    <h1 class="memberName">Frank Garcia</h1>
    <hr>
    <p class="memberDescription">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat
    </p>
  </div>
</div>
