.footerBox {
 background-color: gray;
 display: flex;
 align-items: center;
 justify-content: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: auto;
}

.footerButton {
  color: black;
  background-color: #AF4035;
  font-size: 16px;
  font-family: serif, sans-serif;
}

.divider {
  size: 10px;
  height: auto;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
