.aboutHeaderText {
  text-align: center;
  color: black;
  opacity: 1.0;
  font-size: 60px;
  font-family: avenir;
  margin-top: 15px;
}

.aboutHeaderImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
