<html>
<body>

<div class="navbar">
  <img class="navImg" src="../../../assets/images/weblogo.png" alt="">
  <a routerLink="/home" href="#">Home</a>
  <a routerLink="/about" href="about">About Us</a>
  <a routerLink="/docs" href="docs">Documentation</a>
  <div class="dropdown">
    <button class="dropbtn">Reference Pages</button>
    <div class="dropdown-content">
      <a href="http://www.cslab.pepperdine.edu/warford/math220/220-Equations.pdf" target="_blank">Theorems PDF</a>
      <a href="http://www.cslab.pepperdine.edu/cupp/" target="_blank">Theorems Tex</a>
    </div>
 </div>
</div>

</body>
</html>
