<html>
<body>

<div class="navbar">
  <img class="navImg" src="../../../assets/images/weblogo.png" alt="">
  <a class="linkbtn" id="home" routerLink="/home" href="#">Home</a>
  <a class="linkbtn" id="about" routerLink="/about" href="#Settings1">About Us</a>
  <a class="linkbtn" id="docs" href="#">Documentation</a>
  <div class="dropdown">
    <button class="dropbtn">Course Pages</button>
    <div class="dropdown-content">
      <a href="http://www.cslab.pepperdine.edu/cupp/math220/" target="_blank">Cupp</a>
      <a href="http://www.cslab.pepperdine.edu/warford/" target="_blank">Warford</a>
    </div>
 </div>
</div>

</body>
</html>
