p {
  color: white;
  font-size: 20px;
  padding: 12px 16px;
}

.navbar {
    overflow: auto;
    background-color: #ff6600;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    display: flex;
    align-items: center; /* align vertical */
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 2px;
    text-decoration: none;
}


.dropdown .dropbtn {
    display: table-row;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0000cc;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a:hover {background-color: #0000cc}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0000cc;
}
