.theoremsContainer {
  position: fixed;
  bottom: 50px;
  top: 80px;
  margin: auto;
  overflow: auto;
}
.topnav {
  position: fixed;
  float: none;
  top: 50px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
