
<quill-editor [(ngModel)]="title"
[modules]="modules"
(onEditorCreated)="addBindingCreated($event)"
(onSelectionChanged)="logSelection($event);">
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <button class='ql-indent' value = "-1"></button>
      <button class='ql-indent' value = "+1"></button>
    </span>
    <span class="ql-formats">
      <div id="counter"></div>
    </span>
    <span class="ql-formats">
      <app-autocomplete-box></app-autocomplete-box>
    </span>
    <span class="ql-formats">
      <app-symbol-picker></app-symbol-picker>
    </span>
  </div>
</quill-editor>
