<div *ngIf="infoFilled">
  <quill-editor
    [(ngModel)]="outline"
    [modules]="modules"
    (onEditorCreated)="addBindingCreated($event)">
      <div quill-editor-toolbar>
        <span class="ql-formats">
          <button class='ql-indent' value = "-1"></button>
          <button class='ql-indent' value = "+1"></button>
        </span>
        <span class="ql-formats">
          <div id="counter"></div>
        </span>
        <span class="ql-formats">
          <app-autocomplete-box></app-autocomplete-box>
        </span>
        <span class="ql-formats">
          <div [hidden]="hideSymbols">
            <select (change)="symbolSelectorChanged($event.target.value)"
                    class="ql-size"
                    title="symbolSelector">
              <option id="equalsBtn" value="equals">=</option>
              <option id="impliesBtn" value="implies">=></option>
            </select>
          </div>
          <!--<div [hidden]="hideSymbols">-->
            <!--<button id="equalsBtn" class="symbolBtn">=</button>-->
            <!--<button id="impliesBtn" class="symbolBtn">=></button>-->
          <!--</div>-->
        </span>
      </div>
  </quill-editor>
</div>
