.ql-toolbar.ql-snow + .ql-container.ql-snow {
  margin-bottom: 10px !important;
}

quill-editor {
  display: block;
  position: fixed;
  bottom: 60px;
  top: 75px;
  width: 56%;
}
.ng-invalid {
  border: 1px dashed red;
}

/* Set default font-family */
[quill-editor-element] {
  font-family: "Times";
}

.ql-container {
  font-size: 20px;
}

.symbolBtn {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #ee7624;
  line-height: 18px;
  margin-left: 10px;
  border-radius: 50px;
  &:hover {
    color: red;
  }
}

.functionBtn {
  font-weight: bold;
  line-height: 18px;
}

#exportBtn:disabled {
  color: #F1F1F1;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555555;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#inLineHolder {

}
