.btn-primary {
  background-color: #82ac60;
  border-color: #82ac60;
}

.hide {
  display: none;
}


#proveBtn{
  background-color: grey;
  border-color: grey;
}

#reproveBtn{
  background-color: grey;
  border-color: grey;
}

#exerciseBtn{
  background-color: grey;
  border-color: grey;
}

#addProveBtn{
  background-color: grey;
  border-color: grey;
}

#addReproveBtn{
  background-color: grey;
  border-color: grey;
}

#addExerciseBtn{
  background-color: grey;
  border-color: grey;
}
