<div *ngIf="!infoFilled && !editorEmpty">
  <form>
    <fieldset>
      <legend>Editor Form</legend>
      <div class="form-group">
        <label>Name:</label>
        <input [(ngModel)]="nameText" type="text" name="proof" value="" class="form-control">
      </div>
      <div class="form-group">
        <label>Pin:</label>
        <input [(ngModel)]="pinText" type="text" name="pin" value="" class="form-control">
      </div>
      <div class="form-group">
        <label>Course:</label>
        <input [(ngModel)]="courseText" type="text" name="class" value="" class="form-control">
      </div>
      <div class="form-group">
        <label>Assignment:</label>
        <input [(ngModel)]="assignmentText" type="text" name="assignment" value="" class="form-control">
      </div>
      <div class="form-group">
        <label> Intention: </label>
        <label class="radio-inline"><input type="radio" id="prove" name="intention" value='prove'> Prove  </label>
        <label class="radio-inline"><input type="radio" id="reprove" name="intention" value='reprove'> Reprove  </label>
        <label class="radio-inline"><input type="radio" id="prove" name="intention" value='exercise'> Exercise  </label>
      </div>
      <div class="form-group">
        <label>Proof:</label>
        <select #proofSelector (change)="onProofSelectionChanged($event.target.value)" [(ngModel)]="proofText"
                name="proofs" class="form-control">
          <option style="display:none" value=""></option>
          <option value="custom">[Custom]</option>
          <option *ngFor="let theorem of whatTheorem" [ngValue]="theorem.rule">
            {{theorem.rule}}: {{theorem.name}}
          </option>
        </select>
        <input #hiddenField [hidden]="!customProofSelected" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>Method:</label>
        <select #heuristicSelector (change)="onHeuristicSelectionChanged($event.target.value)"
                [(ngModel)]="heuristicText" name="heuristic" class="form-control">
          <option *ngFor="let he of heuristic" [ngValue]="he.description">
            {{he.name}}
          </option>
        </select>
      </div>
    </fieldset>
    <button (click)="formSubmit(proofSelector.value, hiddenField.value)" class="btn btn-primary">Generate Editor
    </button>
  </form>
</div>

<div *ngIf="!infoFilled && editorEmpty">
  <form>
    <fieldset>
      <legend>Add a Proof</legend>
      <div class="form-group">
        <label>Proof: </label>
        <select #addProofSelector (change)="onProofSelectionChanged($event.target.value)" [(ngModel)]="addProofText"
                name="proofs" class="form-control">
          <option style="display:none" value=""></option>
          <option value="custom">[Custom]</option>
          <option *ngFor="let theorem of whatTheorem" [ngValue]="theorem.rule">
            {{theorem.rule}}: {{theorem.name}}
          </option>
        </select>
        <input #addHiddenField [hidden]="!customProofSelected" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Heuristic: </label>
        <select #addHeuristicSelector (change)="onHeuristicSelectionChanged($event.target.value)"
                [(ngModel)]="addHeuristicText" name="heuristic" class="form-control">
          <option *ngFor="let he of heuristic" [ngValue]="he.description">
            {{he.name}}
          </option>
        </select>
      </div>
    </fieldset>
    <button (click)="addNewProof(addProofSelector.value, addHiddenField.value)" class="btn btn-primary">Add Proof</button>
    <button (click)="cancelAddNewProof()" class="btn btn-primary" style="background-color:lightcoral; border-color:lightcoral;">Cancel</button>
  </form>
</div>
