<div *ngIf="!infoFilled && !editorEmpty">
  <form>
    <fieldset>
      <div class="panel panel-primary">
        <div class = "panel-heading">
      <h3 class ="panel-title">Editor Form</h3>
      </div>
      <div class="panel-body">
      <div class="form-group" [formGroup]="intent">
        <label> Intention: </label>
        <div class="form-control">
          <label for="prove" class="radio-inline">
            <input id="prove" type="radio" formControlName="intention" value="prove" [(ngModel)]="intention"
                   (click)="intentionChosen($event.target.value)">
            Prove
          </label>
          <label for="reprove" class="radio-inline">
            <input id="reprove" type="radio" formControlName="intention" value="reprove" [(ngModel)]="intention"
                   (click)="intentionChosen($event.target.value)">
            Reprove
          </label>
          <label for="exercise" class="radio-inline">
            <input id="exercise" type="radio" formControlName="intention" value="exercise" [(ngModel)]="intention"
                   (click)="intentionChosen($event.target.value)">
            Exercise
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Name:</label>
        <input [(ngModel)]="nameText" type="text" name="proof" value="" class="form-control">
      </div>
      <div class="form-group">
        <label>Pin:</label>
        <input [(ngModel)]="pinText" type="text" name="pin" value="" class="form-control">
      </div>
      <div class="form-group">
        <label>Course:</label>
        <input [(ngModel)]="courseText" type="text" name="class" value="" class="form-control">
      </div>
      <div class="form-group">
        <label>Assignment:</label>
        <input [(ngModel)]="assignmentText" type="text" name="assignment" value="" class="form-control">
      </div>
      <div class="form-group">
        <div id="proofDiv" class="hide">
          <label>Proof:</label>
          <select #proofSelector (change)="onProofSelectionChanged($event.target.value)" [(ngModel)]="proofText"
                  name="proofs" class="form-control">
            <option style="display:none" value=""></option>
            <option value="custom">[Custom]</option>
            <option *ngFor="let theorem of whatTheorem" [ngValue]="theorem.rule">
              {{theorem.rule}}: {{theorem.name}}
            </option>
          </select>
          <input #hiddenField [hidden]="!customProofSelected" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div id="exNumDiv" class="hide">
          <label>Exercise:</label>
          <input [(ngModel)]="exNumText" type="text" name="exerciseNum" value="" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div id="method" class="hide">
          <label>Proof Method:</label>
          <select #heuristicSelector
                  [(ngModel)]="heuristicText" name="heuristic" class="form-control">
            <option *ngFor="let he of heuristic" [ngValue]="he.description">
              {{he.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div id="exerciseDiv" class="hide">
          <label>Exercise Method:</label>
          <select #exHeuristicSelector [(ngModel)]="exerciseText" name="exHeuristic" class="form-control">
            <option *ngFor="let ex of exHeuristic" [ngValue]="ex.description">
              {{ex.name}}
            </option>
          </select>
        </div>
      </div>
</div>

<div class ="pannel-footer">
    <button (click)="formSubmit(proofSelector.value, hiddenField.value)" class="btn btn-primary">Generate Editor
    </button>
  </div>
</div>
</fieldset>
  </form>
</div>

<div *ngIf="!infoFilled && editorEmpty">
  <form>
    <fieldset>
      <div class="panel panel-primary">
        <div class = "panel-heading">
      <h3 class ="panel-title">New Problem</h3>
      </div>
          <div class="panel-body">
      <div class="form-group" [formGroup]="intent">
        <label> Intention: </label>
        <div class="form-control">
          <label for="prove" class="radio-inline">
            <input id="addProve" type="radio" formControlName="intention" value="prove" [(ngModel)]="addIntention"
                   (click)="addIntentionChosen($event.target.value)">
            Prove
          </label>
          <label for="reprove" class="radio-inline">
            <input id="addReprove" type="radio" formControlName="intention" value="reprove" [(ngModel)]="addIntention"
                   (click)="addIntentionChosen($event.target.value)">
            Reprove
          </label>
          <label for="exercise" class="radio-inline">
            <input id="addExercise" type="radio" formControlName="intention" value="exercise" [(ngModel)]="addIntention"
                   (click)="addIntentionChosen($event.target.value)">
            Exercise
          </label>
        </div>
      </div>
      <div class="form-group">
        <div id="addProofDiv" class="hide">
          <label>Proof:</label>
          <select #proofSelector (change)="onProofSelectionChanged($event.target.value)" [(ngModel)]="addProofText"
                  name="proofs" class="form-control">
            <option style="display:none" value=""></option>
            <option value="custom">[Custom]</option>
            <option *ngFor="let theorem of whatTheorem" [ngValue]="theorem.rule">
              {{theorem.rule}}: {{theorem.name}}
            </option>
          </select>
          <input #addhiddenField [hidden]="!customProofSelected" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div id="addExNumDiv" class="hide">
          <label>Exercise:</label>
          <input [(ngModel)]="addExNumText" type="text" name="exerciseNum" value="" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div id="addMethod" class="hide">
          <label>Proof Method:</label>
          <select #heuristicSelector
                  [(ngModel)]="addHeuristicText" name="heuristic" class="form-control">
            <option *ngFor="let he of heuristic" [ngValue]="he.description">
              {{he.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div id="addExerciseDiv" class="hide">
          <label>Exercise Method:</label>
          <select #exHeuristicSelector [(ngModel)]="addExerciseText" name="exHeuristic" class="form-control">
            <option *ngFor="let ex of exHeuristic" [ngValue]="ex.description">
              {{ex.name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class ="pannel-footer">


    <button (click)="addNewProof()" class="btn btn-primary">Add Proof
    </button>
    <button (click)="cancelAddNewProof()" class="btn btn-primary"
            style="background-color:lightcoral; border-color:lightcoral;">Cancel
    </button>
  </div>
</div>
        </fieldset>
  </form>
</div>
