.bibleInput {
  width: 75%;
  display: inline-block;
  padding-top: 1px;
}

.d-inline-block{
  display: inline-block;
}

#dropdownBasic1 {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
