.theoremsContainer {
  position: fixed;
  bottom: 10px;
  top: 110px;
  overflow: auto;
  overflow-y: scroll;
  width: 39%;
}

.theoremContainer {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 6px;
  margin-bottom: 10px;
  height: 95px; /* Had opacity: 0.8; */
  &:hover {
    background-color: black !important;
  }
}

.theoremType {
  float: right;
  font-size: 18px;
  padding-top: 30px;
  padding-right: 10px;
  color: white;
}

.theoremTitle {
  font-size: 1.25em;
  color: white;
}

.theoremEquation {
  text-align: center;
  color: white;
}

#listElements {
  margin-bottom: 10px;
}
