.theoremsContainer {
  position: fixed;
  bottom: 50px;
  top: 120px;
  overflow: auto;
  overflow-y: scroll;
  width: 39%;
}

.theoremContainer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 6px;
  margin-bottom: 10px;
  height: 100px;
  opacity: 0.8;
}

.theoremType {
  float: right;
  font-size: 18px;
  padding-top: 30px;
  padding-right: 10px;
  color: white;
}

.theoremTitle {
  font-size: 1.25em;
  color: white;
}

.theoremEquation {
  text-align: center;
  color: white;
}
