/* You can add global styles to this file, and also import other style files */
.row {
  margin: 15px !important;
}

dl, ol, ul {
  padding: 0;
}

.sectionHeader {
  text-align: center;
}

.componentContainer {
  max-height: 100vh;
}

.backgroundContainer {
  background-color: white;
}
